obj
bin
*.ReSharper.user
_ReSharper.*
*.resharper
*.csproj.user
*.vbproj.user
*.xproj.user
*.suo
*.cache
*.DotSettings
*.DotSettings.user
.vs/

AssemblyVersion.cs

/src/packages
/node_modules
log.txt
